<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Umfrage im Checkout</label>

    <version>1.1.3</version>
    <link>https://github.com/marcmanusch</link>
    <author>Marc Manusch</author>
    <compatibility minVersion="5.2.0"/>


    <changelog version="1.1.3">
        <changes>Clear session after saving to order attributes</changes>
    </changelog>

    <changelog version="1.1.2">
        <changes>Remove getting the value from the selectbox by submitting the form</changes>
    </changelog>

    <changelog version="1.1.1">
        <changes>Make selection required</changes>
    </changelog>

    <changelog version="1.1.0">
        <changes>Add working with PayPal /AJAX</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes>Release</changes>
    </changelog>

</plugin>